html {overflow-y: scroll;}	/* always show scrollbar */

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

li.third_party {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 76px;
    height: 76px;
    float: left;
    padding: 0 10px 10px 0;
}
li.third_party a {
    display: block;
    width: 76px;
    height: 76px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    text-shadow: 0px 0px 3px #fff;
}
li.google { background: url(../img/auth_icons/google.png) no-repeat }
li.microsoft { background: url(../img/auth_icons/microsoft.png) no-repeat }
li.aol { background: url(../img/auth_icons/aol.png) no-repeat }
li.yahoo { background: url(../img/auth_icons/yahoo.png) no-repeat }
li.twitter { background: url(../img/auth_icons/twitter.png) no-repeat; border-radius: 5px;}
li.facebook { background: url(../img/auth_icons/facebook.png) no-repeat }
li.myspace { background: url(../img/auth_icons/myspace.png) no-repeat }
li.openid { background: url(../img/auth_icons/openid.png) no-repeat; border: solid 1px #fff; border-radius: 5px; }
input.openid {
    background: #fff url(../img/auth_icons/openid-icon.png) no-repeat left center;
    border: 1px solid #999;
    padding: 6px 6px 6px 36px;
    font-size: 16px;
}

#recaptcha_area { margin-bottom: 10px }

::selection {
    background-color: #E13300;
    color: white;
}
::moz-selection {
    background-color: #E13300;
    color: white;
}
::webkit-selection {
    background-color: #E13300;
    color: white;
}


.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

/* Account Styles */

.accountPicSelect {
	margin: 5px 0 5px 5px;
}

.accountPicSelect p {
	margin: 10px 0 0 15px;
}

.accountPicSelect input[type="radio"] {
	margin: 0 10px 0 0;
}



/* Positioning */

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
